* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Tahoma, Arial, sans-serif;
	width: 100%;
	background-color: #f2f2f2;
}
header {
	background-color: white;
	height: 50px;
}
header .logo {
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	color: black;
}
nav {
	float: right;
	padding-top: 15px;
}
nav a {
	padding-right: 50px;
	color: #0080ff;
	text-decoration: none;
}
a {
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}
.title {
	padding: 20px;
	text-align: center;
	font-size: 2em;
	color: #1e1f4c;
	text-decoration: none;
}
article {
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;
	width: 75%;
	height: 10%;
	color: #1e1f4c;
	font-size: 0.7em;
	background-color: #fff;
}
article h2 {
	color: #0080ff;
}
ol {
	padding-left: 20px;
}
footer {
	margin-top: 5px;
	padding-top: 5px;
	height: 20px;
	width: 100%;
	background-color: #d9d9d9;
	color: black;
	font-size: 0.8em;
	text-align: center;
}
.photo {
	float: right;
}
img {
	width: 70px;
}
aside {
	margin: 20px;
	padding: 5px;
	min-width: 18%;
	float: right;
	color: #0080ff;
	font-size: 0.7em;
	background-color: white;
}
aside h1 {
	color: black;
	text-align: center;
}
table td {
	padding-bottom: 10px;
}
table .number {
	padding-left: 100%;
	color: black;
}